body {
	margin:0;
	padding: 0;
}

a {
	color: #00ACE0;
	text-decoration: none;
}

a :hover{
	text-decoration: underline;
}

header, footer	{
	color: #fff;
	background: #333;
	padding: 20px;
	padding-bottom: 5px;
}

.title {
	color: #fff;
}

.content {
	padding: 20px;
}

.navHeader ul {
	margin: 0;
	list-style: none;
}

.navHeader li {
	color: #999;
	display: inline;
	margin: 0;
	padding-right: 20px;
	font-size: 1.3em;
}

.navHeader li a {
	color: #fff;
}
