body {
	margin:0;
	padding: 0;
}

header, footer	{
	color: #fff;
	background: #333;
	padding: 20px;
}
a {
	color: #fff;
	font-decoration: underline;
}

#content {
	padding: 20px;
}

#content a {
	color: #00ACE0
}
