body {
	margin:0;
	padding: 0;
}

a {
	color: #fff;	
	font-decoration: underline;
}

h1 a {
	font-decoration: none;
}

header, footer	{
	color: #fff;
	background: #333;
	padding: 20px;
}

#content {
	padding: 20px;
}

#content a {
	color: #00ACE0	
}
