<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="description" content="Tradesong : A game about life (and money)." />

		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

		<title>Tradesong</title>
	</head>

	<body>
		<header>
			<h1 id="project_title">Tradesong</h1>
			<h2 id="project_tagline">A game about life (and money).</h2>
		</header>
	<div id="content">
		<h1>{{page.title}}</h1>
		{{content}}
	</div>
	<footer>
			<p>Tradesong maintained by <a href="https://github.com/icbat">icbat</a></p>
	</footer>
</body>
</html>
