<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="description" content="Tradesong : A game about life (and money)." />

		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

		<title>Tradesong {{page.title}}</title>
	</head>

	<body>
		<header>
			<h1><a href="{{site.url}}">Tradesong</a></h1>
			<h2>A game about life (and money).</h2>
			<ul class="navHeader">
				<li><a href="{{site.url}}">Home</a></li>
				<li>Download</li>
				<li>Devblog</li>
				<li>FAQ</li>
				<li><a href="https://huboard.com/icbat/Tradesong#/milestones">Roadmap (Huboard)</a></li>
				<li><a href="https://github.com/icbat/Tradesong">The code (GitHub)</a></li>
			</ul>
		</header>
		<div class="content">
			My apologies for this placeholder site. Still getting things up and pretty!
			<h2>{{page.title}}</h2>
			{{content}}
		</div>
		<footer>
			Tradesong maintained by <a href="https://icbat.github.io">icbat</a>. He's on Twitter <a href="https://twitter.com/icbat">@icbat</a> and on GitHub as <a href="https://github.com/icbat">icbat</a>
		</footer>
	</body>
</html>
